<section class="hero">
  <div class="container">
    <div class="text-wrap">
      <h1 class="hero-title">Enjoy Your Favorite Food From Anywhere</h1>
      <p class="hero-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>
      <button class="hero-btn" type="button">Order Now</button>
    </div>
    <div class="slaider-wrap">
      <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <img
            class="hero-photo swiper-slide img-wrap"
            src="./img/foto1.jpg"
            alt="dish"
            width="511"
            height="511"
          />
          <img
            class="hero-photo swiper-slide img-wrap"
            src="./img/foto2.jpg"
            alt="dish"
            width="511"
            height="511"
          />

          <img
            class="hero-photo swiper-slide img-wrap"
            src="./img/foto3.jpg"
            alt="dish"
            width="511"
            height="511"
          />
          <img
            class="hero-photo swiper-slide img-wrap"
            src="./img/foto3.jpg"
            alt="dish"
            width="511"
            height="511"
          />
        </div>
      </div>
      <div class="switch switch-left swiper-button-prev">
        <img class="switch-icon" src="./img/left.svg" alt="switch" />
      </div>
      <div class="switch switch-right swiper-button-next">
        <img class="switch-icon" src="./img/right.svg" alt="switch" />
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
